{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "root": "./",
      "alias": {
        "components": "./components",
        "css": "./css"
      }
    }]
  ]
}